<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laboratory.laboratory.dao.LaboratoryMapper" >
  <resultMap id="BaseResultMap" type="com.laboratory.laboratory.model.Laboratory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lab_id" property="labId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="lab_name" property="labName" jdbcType="VARCHAR" />
    <result column="lab_function" property="labFunction" jdbcType="VARCHAR" />
    <result column="lab_function_m" property="labFunctionM" jdbcType="VARCHAR" />
    <result column="lab_person" property="labPerson" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    *
    from lab_laboratory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lab_laboratory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="laboratory" >
    insert into lab_laboratory (id, lab_id, project_id,
    lab_name, lab_function, lab_function_m,
    lab_person, status, is_delete,
    begin_time, end_time, memo
    )
    values (#{id,jdbcType=INTEGER}, #{labId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER},
    #{labName,jdbcType=VARCHAR}, #{labFunction,jdbcType=VARCHAR}, #{labFunctionM,jdbcType=VARCHAR},
    #{labPerson,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR},
    #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="laboratory" >
    insert into lab_laboratory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="labId != null" >
        lab_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="labName != null" >
        lab_name,
      </if>
      <if test="labFunction != null" >
        lab_function,
      </if>
      <if test="labFunctionM != null" >
        lab_function_m,
      </if>
      <if test="labPerson != null" >
        lab_person,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="labId != null" >
        #{labId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="labName != null" >
        #{labName,jdbcType=VARCHAR},
      </if>
      <if test="labFunction != null" >
        #{labFunction,jdbcType=VARCHAR},
      </if>
      <if test="labFunctionM != null" >
        #{labFunctionM,jdbcType=VARCHAR},
      </if>
      <if test="labPerson != null" >
        #{labPerson,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="laboratory" >
    update lab_laboratory
    <set >
      <if test="labId != null" >
        lab_id = #{labId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="labName != null" >
        lab_name = #{labName,jdbcType=VARCHAR},
      </if>
      <if test="labFunction != null" >
        lab_function = #{labFunction,jdbcType=VARCHAR},
      </if>
      <if test="labFunctionM != null" >
        lab_function_m = #{labFunctionM,jdbcType=VARCHAR},
      </if>
      <if test="labPerson != null" >
        lab_person = #{labPerson,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="laboratory" >
    update lab_laboratory
    set lab_id = #{labId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      lab_name = #{labName,jdbcType=VARCHAR},
      lab_function = #{labFunction,jdbcType=VARCHAR},
      lab_function_m = #{labFunctionM,jdbcType=VARCHAR},
      lab_person = #{labPerson,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>